<h2>Edit item</h2>

<form [formGroup]="_tableFormGroup" class="mdcc" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Seats</mat-label>
    <input type="text" matInput formControlName="seats" />
    <mat-error *ngIf="seats?.invalid"
      >Seats is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input type="text" matInput formControlName="status" />
    <mat-error *ngIf="status?.invalid"
      >Status is required.</mat-error> 
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="dp" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
</mat-form-field> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" type="datetime-local" />
  </mat-form-field> -->

  <div>
    <p>Form Status: {{ _tableFormGroup.status }}</p>
    <button mat-raised-button color="primary">Update item</button>
  </div>
      
</form>
